package layouts

templ BaseLayout() {
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <meta name="description" content="Golang application with a lot of stuff in the stack." />

      <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

      <link rel="stylesheet" href="/static/global.css" />

      <script src="/static/htmx.min.js"></script>

      <title>Go is fun 🚀</title>
    </head>

    <body class="bg-neutral-950 text-neutral-50">
      { children... }
    </body>
  </html>
}
